@* @model List<UserItemViewModel> *@
@model List<(UserItemViewModel User, IList<string> Roles)>
@{
	ViewData["Title"] = "Admin Panel - Users";
}

<div class="card">
	<h5 class="card-header">Users</h5>
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Icon</th>
					<th>Name</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				@foreach (var item in Model)
				{
					var user = item.User;
					var roles = item.Roles;

					<tr style='background-color: @(roles.Contains("admin") ? "#DCC9FF" : "White") ;'>
						<td>@user.Id</td>
						<td><img style="height: 80px; width: 80px; border-radius: 50%;" src="/images/200_@user.Image" /></td>
						<td>@user.LastName @user.FirstName</td>
						<td>@user.Email</td>
						<td>
							@if (roles.Any())
							{
								@string.Join(", ", roles)
							}
							else
							{
								<span class="text-muted">None</span>
							}
						</td>
						<td>
							<div class="dropdown">
								<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="@Url.Action("Edit", "Users", new { id = user.Id })"><i class="ri-pencil-line me-1"></i> Edit</a>
									<a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-1"></i> Delete</a>
								</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>